<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Secure Notes - Authenticated</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <p class="text-white">Secure Notes - Authenticated</a>
            </nav>
            <br/>
            <div class="alert alert-primary" role="alert">
                <p>This is a SECURE area !!!</p>
            </div>
            <br/>
            <span class="p-1 rounded-sm border border-primary">
                <a href="/logout" class="alert-link">Logout</a>
            </span>
            <div class="text-center">
                <hr/>
                <img class="img-thumbnail" src="static/images/polarsparc.png" alt="PolarSPARC">
            </div>
        </div>        
    </body>
</html>